<h1>Payment Results</h1>

<div>
<h3>APR</h3>
</div>
<div>
<%= @apr %>
</div>

<div><h3>Number of years</h3></div>
<div>
<%= @yr %>
</div>

<div><h3>Principal</h3></div>
<div>
<%= @principle %>
</div>

<div><h3>Payment</h3></div>
<div>
<%= @monthly %>
</div>

<div>
  <h4><a href = "http://localhost:3000/payment/new">Calculate another payment</a></h4>
</div>
