<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              Part I Targets
            </a>
            <p class="navbar-text"><a href ="http://localhost:3000/flexible/square/5">Flexible Square Example</a></p>
            <p class="navbar-text"><a href ="http://localhost:3000/flexible/square_root/8">Flexible Square Root Example</a></p>
            <p class="navbar-text"><a href ="http://localhost:3000/flexible/payment/410/30/250000">Flexible payment Example</a></p>
            <p class="navbar-text"><a href ="http://localhost:3000/flexible/random/50/100">Flexible Random Example</a></p>
          </div>


          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              Part II Targets
            </a>
            <p class="navbar-text"><a href ="http://localhost:3000/flexible/square/new">Square Form</a></p>
            <p class="navbar-text"><a href ="http://localhost:3000/flexible/square_root/new">Square Root Form</a></p>
            <p class="navbar-text"><a href ="http://localhost:3000/flexible/payment/new">Payment Form</a></p>
            <p class="navbar-text"><a href ="http://localhost:3000/flexible/random/new">Random Form</a></p>
          </div>

          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              Part III Targets
            </a>
            <p class="navbar-text"><a href ="http://localhost:3000/flexible/square/5">Word Count Form</a></p>
            <p class="navbar-text"><a href ="http://localhost:3000/flexible/square/5">Stats Form</a></p>
          </div>


        </nav>

<h1>Payment Results</h1>

<div>
<h3>APR</h3>
</div>
<div>
<%= @apr %>
</div>

<div><h3>Number of years</h3></div>
<div>
<%= @yr %>
</div>

<div><h3>Principal</h3></div>
<div>
<%= @principle %>
</div>

<div><h3>Payment</h3></div>
<div>
<%= @monthly %>
</div>

<div>
  <h4><a href = "http://localhost:3000/payment/new">Calculate another payment</a></h4>
</div>
