<h1>Payment Calculation</h1>

<form action="/payment/results">
  <div>
    <label>
      APR
    </label>
    <input type = "number" name = "user_apr">

  </div>

  <div>
    <label>
      Numer of years
    </label>
    <input type = "number" name = "user_years">

  </div>

  <div>
    <label>
      Principal
    </label>
    <input type = "numer" name = "user_principal">

  </div>

  <button>Calculate monthly payment </button>
</form>
