<h1>Square Results</h1>

<div>
<h3>Number</h3>
</div>
<div>
<%= @user_number %>
</div>

<div><h3>Square</h3></div>
<div>
<%= @square %>
</div>

<div>
  <h4><a href = "http://localhost:3000/square/new">Calculate another square</a></h4>
</div>
