<h1>Square Root Results</h1>

<div>
<h3>Number</h3>
</div>
<div>
<%= @user_number %>
</div>

<div><h3>Square Root</h3></div>
<div>
<%= @square_root %>
</div>

<div>
  <h4><a href = "http://localhost:3000/square_root/new">Calculate another square root</a></h4>
</div>
