<!-- <h1>Welcome</h1>

<form action="/wine/results">
  <div>
    <label>
      Search for a wine
    </label>
    <input type = "text" name = "wine_name">

  </div>
  <button>Search</button>
</form> -->
